{{ define "kachestva" }}
<div id="kachestva" class="slide-root kachestva-root">
    <div class="kachestva-row">
        <ul>
            <li>
                <b>Простота монтажа</b> – правильно и качественно выполнить подготовку основания и произвести работу по
                монтажу
                сайдинга сможет даже неопытный мастер с минимальным набором инструментов, таким образом, можно
                сэкономить и
                произвести монтаж самостоятельно.
            </li>
            <li>
                <b>Долговечность</b> – при соблюдении технологии, срок эксплуатации ПВХ фасада варьируется от 10 до 50 лет
                (зависит от качества материала).
            </li>
            <li>
                <b>Внешний вид</b> – ПВХ фасад выглядит эстетично и гармонично вписывается практически в любой архитектурный
                стиль.
            </li>
            <li>
                <b>Цена</b> – виниловый сайдинг – один из самых недорогих материальв для облицовки фасада.
            </li>
        </ul>
        <ul>
            <li>
                <b>Сезонность</b> – устройство фасада из ПВХ панелей можно осуществлять в любое время года.
            </li>
            <li>
                <b>Ремонтопригодность</b> – заменить поврежденную панель можно даже самостоятельно, без привлечения
                специалистов,
                что выгодно отличает этот материал от более «привередливых» конкурентов.
            </li>
            <li>
                <b>Экологичность</b> – несмотря на то, что поливинилхлорид не является натуральным материалом, при соблюдении
                правил эксплуатации и утилизации риск загрязнения и вредного воздействия на человека и животных
                стремится к
                нулю.
            </li>
            <li>
                За счет специальных добавок <b>не поддерживает горение</b> и под воздействием солнца не теряет изначальной
                яркости
                цвета.
            </li>
        </ul>
    </div>
</div>
{{ end }}