@import "/assets/css/metall/summary.css";
@import "/assets/css/metall/palitra.css";
@import "/assets/css/metall/kachestva.css";
@import "/assets/css/metall/schema.css";
@import "/assets/css/metall/otkos.css";
@import "/assets/css/metall/portfolio.css";
@import "/assets/css/metall/video.css";
@import "/assets/css/metall/promo.css";

.slide-root {
    height: calc(100vh - 120px);
    width: 100%;
    position: absolute;
    transform: scale(0.9);
    transition: 0.5s ease-in-out;
    left: -100vw;
}

