{{ define "call" }}

<div id="call" class="call-window-root">
  <!-- <div class="call-panel-root">
    <div class="call-panel-title">
      <p>Форма обратной связи</p>
    </div>
    <button class="call-panel-button" onclick="closeCall();">Закрыть</button>
  </div> -->
  <div class="call-root">
    <div class="call-howwork">
      <div class="call-howwork-title">Как мы работаем:</div>
      <div class="call-howwork-text">
        • Закажите звонок или приезжайте в офис.
      </div>
      <div class="call-howwork-text">
        • Наш менеджер выезжает на бесплатный замер.
      </div>
      <div class="call-howwork-text">
        • Рассчитываем стоимость материалов и работ.
      </div>
      <div class="call-howwork-text">• Согласовываем и заключаем договор.</div>
      <div class="call-howwork-text">
        • Завозим материалы и выполняем работы.
      </div>
      <div class="call-howwork-text">• Принимаете обновленный дом.</div>
    </div>
    <div class="call-need-call-root">
      <div class="call-howwork-title">Заказать звонок:</div>
      <!-- <span class="title">Авторизация</span> -->
      <div class="call-need-field">
        <label class="call-need-label" for="call-name">Как к Вам обращаться?</label>
        <input class="call-need-input" id="call-name" type="text" placeholder="Иван" />
      </div>
      <div class="call-need-field">
        <label class="call-need-label" for="call-email">Напишите Вашу электронную почту:</label>
        <input class="call-need-input" id="call-email" type="email" placeholder="ivan@mail.ru"/>
      </div>
      <div class="call-need-field">
        <label class="call-need-label" for="call-phone">На какой номер перезвонить?</label>
        <input class="call-need-input" id="call-phone" type="text" placeholder="89105554433"/>
      </div>
      <button id="call-send" type="submit" class="call-need-send" onclick="sendCallRequest();">
        Отправить
      </button>
    </div>
  </div>
</div>
<script src="/assets/js/call.js"></script>
{{ end }}