{{ define "topPanel" }}

<div class="top-panel-root">
  <div class="top-panel-logo" onclick="location.href='/';"></div>
  <div class="top-panel-buttons">
    <div id="menu-button" class="top-panel-button" onclick="showMainMenu();">
      <img src="/assets/img/icon-documents.png">
      <div class="top-panel-button-text">
        <p>Материалы</p>
      </div>
    </div>
    <div id="calc-btn" class="top-panel-button" onclick="showCalc();">
      <img src="/assets/img/icon-calc.png">
      <div class="top-panel-button-text">
        <p>Калькулятор</p>
      </div>
    </div>
    <div id="about-btn" class="top-panel-button" onclick="showAbout();">
      <img src="/assets/img/icon-call.png">
      <div class="top-panel-button-text">
        <p>Контакты</p>
      </div>
    </div>
    <div id="call-btn" class="top-panel-button" onclick="showCall();">
      <img src="/assets/img/icon-rulet.png">
      <div class="top-panel-button-text">
        <p>Хочу замер!</p>
      </div>
    </div>
  </div>
  <div class="top-panel-contacts">
    <span class="top-panel-contacts-country"> Белгородская область </span>
    <span class="top-panel-contacts-phone"> +7(4722) <b>41-55-33</b> </span>
  </div>
</div>
{{ template "about" }}
{{ template "calc" }}
{{ template "call" }}
{{ template "main-menu" }}
<script src="/assets/js/top-panel.js"></script>
{{ end }}