{{ define "kachestva" }}
<div id="kachestva" class="slide-root kachestva-root">
    <div class="kachestva-row">
        <ul>
            <li>
                <b>Трудоемкость</b> – материал чрезвычайно прост в монтаже.
            </li>
            <li>
                <b>Долговечность</b> – при соблюдении технологии, срок эксплуатации такого фасада варьируется от 10 до
                30 лет.
            </li>
            <li>
                <b>Внешний вид</b> – фасад выглядит эстетично и гармонично вписывается практически в любой
                архитектурный стиль.
            </li>
        </ul>
        <ul>
            <li>
                <b>Цена</b> – приятно вас удивит. Никогда еще утепленный фасад не был так доступен!
            </li>
            <li>
                <b>Сезонность</b> – устройство фасада из термопанелей допускается проводить в холодное время года, при
                условии использования морозостойких клеев.
            </li>
            <li>
                <b>Экологичность</b> – экологически безопасен, не выделяет вредных веществ.
            </li>
        </ul>
    </div>
</div>
{{ end }}