{{ define "hauberg" }}
{{ template "header" }}
{{ template "topPanel" }}
<link rel="stylesheet" href="/assets/css/hauberg/all.css" />
<script src="/assets/js/hauberg.js"></script>
{{ template "control-panel" }}
{{ template "firstPromoBlock" . }}
{{ template "summary"}}
{{ template "palitra" }}
{{ template "kachestva" }}
{{ template "schema" }}
{{ template "otkos" }}
{{ template "portfolio" }}
{{ template "video" }}
{{ template "promo" }}
{{ template "lastPromo" }}
{{ template "footer" }}
{{ end }}