{{ define "kachestva" }}
<div id="kachestva" class="slide-root kachestva-root">
    <div class="kachestva-row">
        <ul>
            <li>
                <b>Простота монтажа</b> – правильно и качественно выполнить подготовку основания и произвести работу по
                монтажу
                плитки Hauberk сможет даже неопытный мастер с минимальным набором инструментов, таким образом, можно
                сэкономить и произвести монтаж самостоятельно.
            </li>
            <li>
                <b>Долговечность</b> – при соблюдении технологии, срок эксплуатации фасада из фасадной плитки
                варьируется от 25
                до 50 лет.
            </li>
            <li>
                <b>Внешний вид</b> – фасад из фасадной плитки выглядит эстетично и гармонично вписывается практически в
                любой
                архитектурный стиль.
            </li>
            <li>
                <b>Цена</b> – один из самых недорогих материалов для облицовки фасада.
            </li>
            <li>
                <b>Сезонность</b> – устройство фасада с помощью фасадной плитки Технониколь Hauberk можно осуществлять
                при
                температуре воздуха выше 0.
            </li>
        </ul>
    </div>
</div>
{{ end }}