{{ define "palitra" }}
<div id="palitra" class="slide-root palitra-root">
    <div class="palitra-color-block">
        <img src="/assets/img/hauberg/palitra/Мраморный кирпич.jpg" />
        <p class="palitra-title-text">Мраморный кирпич</p>
    </div>
    <div class="palitra-color-block">
        <img src="/assets/img/hauberg/palitra/античный кирпич.jpg" />
        <p class="palitra-title-text">Античный кирпич</p>
    </div>
    <div class="palitra-color-block">
        <img src="/assets/img/hauberg/palitra/баварский кирпич.jpg" />
        <p class="palitra-title-text">Баварский кирпич</p>
    </div>
    <div class="palitra-color-block">
        <img src="/assets/img/hauberg/palitra/красный кирпич.jpg" />
        <p class="palitra-title-text">Красный кирпич</p>
    </div>
    <div class="palitra-color-block">
        <img src="/assets/img/hauberg/palitra/песчаный кирпич.jpg" />
        <p class="palitra-title-text">Песчаный кирпич</p>
    </div>
    <div class="palitra-color-block">
        <img src="/assets/img/hauberg/palitra/серо-бежевый кирпич.jpg" />
        <p class="palitra-title-text">Серо-бежевый кирпич</p>
    </div>
    <div class="palitra-color-block">
        <img src="/assets/img/hauberg/palitra/терракотовый кирпич.jpg" />
        <p class="palitra-title-text">Терракотовый кирпич</p>
    </div>
</div>
{{ end }}