{{ define "kachestva" }}
<div id="kachestva" class="slide-root kachestva-root">
    <div class="kachestva-row">
    <p>
        Благодаря декоративным элементам ваш фасад обретет неповторимый шик и изыск.<br><br>
        А огромное разнообразие элементов позволит создать любой архитектурный стиль, от модерна до барокко.<br><br>
        Именно архитектурный декор подчеркивает индивидуальность фасада и выделяет его из общей массы.<br><br>
        Наши специалисты помогут вам подобрать оптимальный набор декора для вашего фасада, учитывая цвет, фактуру, стиль и особенности архитектуры вашего дома.
    </p>
</div>
</div>
{{ end }}