{{ define "kachestva" }}
<div id="kachestva" class="slide-root kachestva-root">
    <div class="kachestva-row">
        <ul>
            <li>
                <b>Простота монтажа</b> – правильно и качественно выполнить подготовку основания и произвести работу по монтажу сайдинга сможет даже неопытный мастер с минимальным набором инструментов, таким образом, можно сэкономить и произвести монтаж самостоятельно.
            </li>
            <li>
                <b>Долговечность</b> – при соблюдении технологии, срок эксплуатации фасада из металлосайдинга варьируется от 10 до 50 лет (зависит от качества материала).
            </li>
            <li>
                <b>Внешний вид</b> – фасад из металлосайдинга выглядит эстетично и гармонично вписывается практически в любой архитектурный стиль.
            </li>
        </ul>
        <ul>
            <li>
                <b>Цена</b> – металлический сайдинг – один из самых недорогих материалов для облицовки фасада.
            </li>
            <li>
                <b>Сезонность</b> – устройство фасада из металлических панелей можно осуществлять в любое время года. 
            </li>
            <li>
                <b>Экологичность</b> – металлический сайдинг не выделяет вредных для жизни и здоровья веществ.
            </li>
        </ul>
    </div>
</div>
{{ end }}