{{ define "kachestva" }}
<div id="kachestva" class="slide-root kachestva-root">
    <div class="kachestva-row">
        <ul>
            <li>
                <b>Трудоемкость</b> – несмотря на то, что технология монтажа фиброцементного и винилового сайдингов схожи, правильно и качественно выполнить облицовку фиброцементным сайдингом сможет далеко не каждый.
            </li>
            <li>
                <b>Долговечность</b> – при соблюдении технологии, срок эксплуатации такого фасада варьируется от 25 до 100 лет.
            </li>
            <li>
                <b>Внешний вид</b> – фасад выглядит эстетично и гармонично вписывается практически в любой архитектурный стиль.
            </li>
            <li>
                <b>Цена</b> – достаточно высока, но с лихвой компенсируется его потребительскими и эстетическими качествами.
            </li>
        </ul>
        <ul>
            <li>
                <b>Ремонтопригодность</b> – заменить поврежденную панель можно даже самостоятельно, без привлечения специалистов, что выгодно отличает этот материал от более «привередливых» конкурентов.
            </li>
            <li>
                <b>Сезонность</b> – устройство фасада из фиброцементных панелей можно осуществлять в любое время года. 
            </li>
            <li>
                <b>Экологичность</b> – экологически безопасен, не выделяет вредных веществ.
            </li>
            <li>
                <b>Негорючесть</b> – фиброцементный сайдинг не горит.
            </li>
        </ul>
    </div>
</div>
{{ end }}