{{ define "about" }}

<div id="about" class="about-us">
  <div class="about-qualities">
    <div class="about-qualities-title">Наши качества:</div>
    <div class="about-qualities-text">
      • Работаем только с официальными представителями заводов.
    </div>
    <div class="about-qualities-text">
      • Заключаем официальный договор, гарантируем качество работ,
      предоставленных материалов и сроков выполнения.
    </div>
    <div class="about-qualities-text">
      • Сделаем точный замер и расчет стоимости материалов. Это будет
      зафиксировано в договоре и не изменится ни при каких обстоятельствах.
    </div>
    <div class="about-qualities-text">
      • Гарантированый срок службы материалов до 30 лет. Подтверждено
      сертификатами качества.
    </div>
  </div>
  <div class="about-contacts-block">
    <div class="about-contacts-content">
      <div class="about-qualities-title">Наши контакты:</div>
      <br /><br />
      <div class="about-qualities-title">+7 (4722) 41-55-33</div>
      <div class="about-qualities-title">415533@sm31.ru</div>
    </div>
    <iframe class="about-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.096739409686!2d36.648277415737695!3d50.62531967949994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41266b9a96ca1fb5%3A0x1bfcb20ccf831a8c!2z0JrQvtGA0L7Rh9Cw0L3RgdC60LDRjyDRg9C7LiwgNDkz0LAsINCR0LXQu9Cz0L7RgNC-0LQsINCR0LXQu9Cz0L7RgNC-0LTRgdC60LDRjyDQvtCx0LsuLCAzMDgwMTg!5e0!3m2!1sru!2sru!4v1532092704077"
      frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
{{ end }}