{{ define "creditPromo" }}

<div id="credit-promo" class="CreditPromoBlock__Root card">
    <h1 class="CreditPromoBlock__Title">
        Делай сейчас - плати потом!
    </h1>
    <div class="CreditPromoBlock__Row">
        <div class="CreditPromoBlock__CreditText">
            <p>
                • Сумма: до <b>200 000</b> рублей</p>
            <p>
                • Срок: <b>3</b> месяца</p>
            <p>
                • Начальный взнос: <b>0</b> рублей</p>
            <p>
                • Переплата: <b>0</b>%
            </p>
        </div>
        <hr>
        <h1 class="CreditPromoBlock__Title2">
            Рассрочка предоставляется нашим партнером - "Тинькофф Банк"
        </h1>
        <div class="CreditPromoBlock__CreditImage">
            <img
                src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fdesign-nf.com%2Fthemes%2Fsandbox%2Fupload%2Fnf%2Ffi2k%2Ftinkoff_logo.jpg&f=1">
        </div>
    </div>
</div>
<link rel="stylesheet" href="/mobile/assets/css/credit-promo-block.css">
{{ end }}