{{ define "index" }}
{{ template "header" }}

<div class="main-materials-row">
    <div class="top-panel-materials-column">
        <div class="main-menu-item" onclick="location.href='/мокрый-фасад';">
            <img src="/assets/img/main-content/aqua-fasad.jpg" />
            <p class="title">Мокрый фасад</p>
            <div class="main-content-price">
                <p>от <b><span id="mokrijPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
        <div class="main-menu-item" onclick="location.href='/технониколь-хауберг';">
            <img src="/assets/img/main-content/hauberg.jpg" />
            <p class="title">Фасадная плитка "Технониколь"</p>
            <div class="main-content-price">
                <p>от <b><span id="haubergPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
        <div class="main-menu-item" onclick="location.href='/виниловый-сайдинг';">
            <img src="/assets/img/main-content/vinil.jpg" />
            <p class="title">Виниловый сайдинг</p>
            <div class="main-content-price">
                <p>от <b><span id="vinilPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
        <div class="main-menu-item" onclick="location.href='/металлосайдинг';">
            <img src="/assets/img/main-content/metal-side.jpg" />
            <p class="title">Металлический сайдинг</p>
            <div class="main-content-price">
                <p>от <b><span id="metalPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
    </div>
    <div class="top-panel-materials-column">
        <div class="main-menu-item" onclick="location.href='/фиброцементный-сайдинг';">
            <img src="/assets/img/main-content/fibro.jpg" />
            <p class="title">Фиброцементный сайдинг</p>
            <div class="main-content-price">
                <p>от <b><span id="fibraPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
        <div class="main-menu-item" onclick="location.href='/термопанели';">
            <img src="/assets/img/main-content/termo-panel.jpg" />
            <p class="title">Термопанели</p>
            <div class="main-content-price">
                <p>от <b><span id="termoPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
        <div class="main-menu-item" onclick="location.href='/клинкерная-плитка';">
            <img src="/assets/img/main-content/klinker.jpg" />
            <p class="title">Клинкерная плитка</p>
            <div class="main-content-price">
                <p>от <b><span id="klinkerPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
        <div class="main-menu-item" onclick="location.href='/декоративные-элементы';">
            <img src="/assets/img/main-content/decor.JPG" />
            <p class="title">Декоративные элементы</p>
        </div>
    </div>
</div>

{{ template "top-panel" }}
<script src="/assets/js/calculateMainContentPrice.js"></script>
{{ template "footer" }}
{{ end }}