{{ define "klinker" }}
{{ template "header" }}
{{ template "top-panel" }}
<div id="content">
    <link rel="stylesheet" href="/mobile/assets/css/page.css" />
    {{ template "firstPromoBlock" . }}
    <div class="card">
        <h1>Особенности покрытия:</h1>
        <hr>
        <ul>
            <li>
                Клинкерная плитка – высокопрочный отделочный материал, практически полностью состоящей из сильно
                спрессованной глины подверженной высокотемпературной обработке.
            </li>
            <li>
                Внешне, клинкерная плитка имитируют кирпич или камень.</li>
            <li>
                Материал устойчив к морозам, прямому солнечному свету, ливням и граду, плесени и грибку, кроме того,
                инертен к агрессивным химическим растворам. Прост в уходе.</li>
            <li>
                Наша компания работает только с проверенными производителями сайдинга, обладающими исключительной
                репутацией и хорошо зарекомендовавшими себя на рынке.
            </li>
        </ul>
        <img src="/assets/img/klinker/1-1.jpg">
        <img src="/assets/img/klinker/1-2.jpg">
        <img src="/assets/img/klinker/1-3.jpg">
    </div>
    <div class="card">
        <h1>Палитра цветов:</h1>
        <hr>
        <img src="/assets/img/klinker/2-1.jpg">
    </div>
    <div class="card">
        <h1>Качества материала:</h1>
        <hr>
        <ul>
            <li>
                <b>Трудоемкость</b> – Трудоемкость – монтаж клинкерной плитки довольно сложен и требует специальные
                умения и навыки.
            </li>
            <li>
                <b>Долговечность</b> – при соблюдении технологии, срок эксплуатации клинкера варьируется от 25 до 100 и
                более лет.
            </li>
            <li>
                <b>Внешний вид</b> – фасад выглядит эстетично и гармонично вписывается практически в любой архитектурный
                стиль.
            </li>
            <li>
                <b>Цена</b> – достаточно высока, но с лихвой компенсируется его потребительскими и эстетическими
                качествами.
            </li>
            <li>
                <b>Ремонтопригодность</b> – заменить поврежденную плитку не составит большого труда.
            </li>
            <li>
                <b>Сезонность</b> – устройство фасада из клинкерной плитки лучше производить в теплое время года, тем не
                менее, существуют морозостойкие монтажные клея, которые позволяют работать при температуре ниже +5.
            </li>
            <li>
                <b>Экологичность</b> – материал экологически безопасен, не выделяет вредных веществ.
            </li>
            <li>
                <b>Негорючесть</b> – клинкерная плитка не горит.
            </li>
        </ul>
    </div>
    <div class="card">
        <h1>Технология монтажа:</h1>
        <hr>
        <img src="/assets/img/klinker/4-1.jpg">
        <p class="text-block">
            <h2>
                Технология монтажа клинкерной плитки схожа с технологией укладки кафельной плитки.
            </h2>
        </p>
    </div>
    <div class="card">
        <h1>Устройство откосов:</h1>
        <hr>
        <img src="/assets/img/klinker/5-1.jpg">
        <p class="text-block">
            Устройство откосов, при монтаже клинкерной плитки, бывает 3х типов:
        </p>
        <ul>
            <li>
                Откос выполняется из стандартных плиток, зарезанных под 45 градусов и состыкованных на углу.
            </li>
            <li>
                Откос выполняется из специальной угловой плитки.
            </li>
            <li>
                Плитка стыкуется внахлест под 90 градусов.
            </li>
        </ul>
    </div>

    <div class="card">
        <h1>Наши работы:</h1>
        <hr>
        <img src="/assets/img/klinker/portfolio/0.jpg">
        <img src="/assets/img/klinker/portfolio/1.jpg">
        <img src="/assets/img/klinker/portfolio/2.jpg">
        <img src="/assets/img/klinker/portfolio/3.jpg">
        <img src="/assets/img/klinker/portfolio/4.jpg">
        <img src="/assets/img/klinker/portfolio/5.jpg">
        <img src="/assets/img/klinker/portfolio/6.jpg">
        <img src="/assets/img/klinker/portfolio/7.jpg">
        <!-- <img src="/assets/img/klinker/portfolio/8.jpg"> -->
    </div>
    <div class="card">
        <h1>Видео о технологии</h1>
        <hr>
        <object style="width:100%;height:40vh; float: none; clear: both; margin: 2px auto;"
            data="http://www.youtube.com/embed/n_nHmqCOLVw">
        </object>
    </div>
    {{ template "creditPromo" }}
</div>
{{ template "footer" }}
{{ end }}