{{ define "mokrij-fasad" }}
{{ template "header" }}
{{ template "top-panel" }}
<div id="content">
    <link rel="stylesheet" href="/mobile/assets/css/page.css" />
    {{ template "firstPromoBlock" . }}
    <div class="card">
        <h1>Особенности покрытия:</h1>
        <hr>
        <ul>
            <li>
                Материал прочен, надежен и экологически безопасен, так как состоит только из натуральных компонентов.
            </li>
            <li>
                Минеральный наполнитель делает состав легким, что предотвращает излишнюю нагрузку на конструкцию здания.
            </li>
            <li>
                Устойчив к морозам, прямому солнечному свету, ливням и граду, плесени и грибку.
            </li>
            <li>
                Имеет огнеупорные свойства и под воздействием солнца не теряет изначальной яркости цвета.
            </li>
            <li>
                Прост в уходе. Оштукатуренная поверхность моется водой с небольшим количеством моющего средства.
                Чистится
                жесткой губкой или пылесосом.
            </li>
        </ul>
    </div>
    <div class="card">
        <h1>Виды покрытий:</h1>
        <hr>
        <div class="vid-factura-root">
            <p class="text-block">
                <b>Фактурные краски</b> отличаются от других декоративных покрытий способом нанесения и создаваемой
                фактурой.
                Фактурная краска менее прочна, по сравнению с короедом, зато предоставляет больше вариантов оформления.
                В
                конечном итоге, внешний вид зависит от того, каким инструментом будет создаваться фактура – структурным
                валиком,
                либо кельмой.
            </p>
            <img src="/assets/img/mokrij-fasad/fakturnaja-factura-1.jpg">
        </div>
        <div class="vid-factura-root">
            <p class="text-block">
                <b>Штукатурка "Короед"</b> - позволяет создать фактуры: «дождик», «барашек», «крест-накрест».
                <b>Штукатурка
                    «шуба»</b> - отличается однородной зернистой фактурой, напоминающей наждачную бумагу. Оба состава
                представляют собой акриловую или силиконовую массу, в которую добавляют минеральную крошку. <b>От
                    количества
                    добавленной крошки и фракции зависит название – короед, или шуба.</b>
            </p>
            <img src="/assets/img/mokrij-fasad/koroed-factura-1.jpg">
        </div>
        <div class="vid-factura-root">
            <p class="text-block">
                <b>Мозаичная декоративная штукатурка</b> устойчива к воздействию ультрафиолета, влаги, перепаду
                температур.
                Высокопрочная, долговечная и экологичная. Идеальный вариант для отделки цоколей.
            </p>
            <img src="/assets/img/mokrij-fasad/mozayka-factura-1.jpg">
        </div>
    </div>
    <div class="card">
        <h1>Палитра цветов:</h1>
        <hr>
        <img src="/assets/img/mokrij-fasad/colors.png">
        <p class="text-block">При выборе цвета вы будете ограничены только воображением! У большинства производителей
            декоративных штукатурок
            только стандартная палитра содержит не менее 50 цветов и оттенков. Но если стандартных цветов будет
            недостаточно, наш специалист-колеровщик поможет подобрать вам уникальный цвет по каталогам RAL или NCS.</p>
    </div>
    <div class="card">
        <h1>Плюсы:</h1>
        <hr>
        <ul>
            <li>
                <b>Долговечность</b> – при соблюдении технологии, срок эксплуатации мокрого фасада варьируется от 10 до
                50
                лет (зависит от качества материала).
            </li>
            <li>
                <b>Внешний вид</b> – оштукатуренный фасад выглядит эстетично и гармонично вписывается практически в
                любой
                архитектурный стиль, а широкая цветовая гамма и возможность комбинировать цвета и фактуры, а также
                невероятное множество декоративных элементов воплотят в жизнь даже самые смелые дизайнерские решения.
            </li>
            <li>
                <b>Экологичность</b> – декоративные штукатурки изготавливаются из натуральных компонентов и не несут
                опасности для жизни и здоровья человека. Пригодны для использования как снаружи, так и внутри помещений.
            </li>
            <li>
                <b>Негорючесть</b> – декоративные штукатурки не плавятся, не горят, не тлеют.
            </li>
        </ul>
    </div>
    <div class="card">
        <h1>Минусы:</h1>
        <hr>
        <ul>
            <li>
                <b>Трудоемкость</b> – правильно и качественно выполнить подготовку основания и произвести работу по
                нанесению декоративной штукатурки сможет только квалифицированная бригада мастеров.
            </li>
            <li>
                <b>Цена</b> – несмотря на то, что декоративная штукатурка не самый дорогой материал, цена за ее
                нанесение
                может увеличиться в несколько раз из-за сложных архитектурных и дизайнерских идей.
            </li>
            <li>
                <b>Сезонность</b> – устройство мокрого фасада производят только в теплое время года и при сухой погоде
                (температура воздуха должна быть выше +5).
            </li>
            <li>
                <b>Ремонтопригодность</b> – хотя, декоративная штукатурка считается ремонтопригодной, восстановление
                первоначального вида фасада потребует вложения немалых ресурсов (сложность ремонта зависит от
                первоначального качества материала и состояния фасада на момент выполнения ремонтных работ).
            </li>
        </ul>
    </div>
    <div class="card">
        <h1>Технология монтажа:</h1>
        <hr>
        <br>
        <img src="/assets/img/mokrij-fasad/shcema.jpg">
    </div>
    <div class="card">
        <h1>Устройство откосов:</h1>
        <hr>
        <p class="text-block">
            Важным этапом при выполнении фасадных работ является <b>устройство откосов</b>. В некоторых случаях
            требуется их
            утепление. Для утепления откосов лучше всего подходит полистирол. Работы по устройству откосов содержат те
            же
            этапы, что и работы по устройству фасада: утепление, армирование, нанесение декоративной штукатурки.
        </p>

        <img src="/assets/img/mokrij-fasad/otkos1.jpg">
        <img src="/assets/img/mokrij-fasad/otkos2.jpg">
        <img src="/assets/img/mokrij-fasad/otkos3.jpg">
    </div>

    <div class="card">
        <h1>Наши работы:</h1>
        <hr>
        <img src="/assets/img/mokrij-fasad/portfolio/1.jpg">
        <img src="/assets/img/mokrij-fasad/portfolio/2.jpg">
        <img src="/assets/img/mokrij-fasad/portfolio/3.jpg">
        <img src="/assets/img/mokrij-fasad/portfolio/4.jpg">
        <img src="/assets/img/mokrij-fasad/portfolio/5.jpg">
        <img src="/assets/img/mokrij-fasad/portfolio/6.jpg">
        <img src="/assets/img/mokrij-fasad/portfolio/7.jpg">
        <img src="/assets/img/mokrij-fasad/portfolio/8.jpg">
    </div>
    <div class="card">
        <h1>Видео о технологии</h1>
        <hr>
        <object style="width:100%;height:40vh; float: none; clear: both; margin: 2px auto;"
            data="http://www.youtube.com/embed/n_nHmqCOLVw">
        </object>
    </div>
</div>
{{ template "footer" }}
{{ end }}