@import url("https://fonts.googleapis.com/css?family=Exo+2");
@import "top-panel.css";
@import "main-content.css";
@import "about.css";
@import "calc.css";
@import "call.css";
@import "control-panel.css";
@import "main-menu.css";
@import "last-promo-block.css";
@import "credit-promo-block.css";
@import "how-we-work.css";

:root {
  --main-bg1-color: #262626;
  --main-bg2-color: #ffffff;
  --main-accent-color: #000000;
}

@media (min-width: 1000px) {
  html {
    font-size: 61.5%;
    font-family: "Exo 2", sans-serif;
  }
  body {
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    background-color: var(--main-bg2-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media(min-width: 1600px) {
  html {
    font-size: 72%;
    font-family: "Exo 2", sans-serif;
  }
  body {
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    background-color: var(--main-bg2-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media(min-width: 1900px) {
  html {
    font-size: 82%;
    font-family: "Exo 2", sans-serif;
  }
  body {
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    background-color: var(--main-bg2-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}