@media (min-width: 800px) {
  /* свойства верхней панели */
  .top-panel-root {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    height: 55px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    background-color: rgb(245, 245, 239, 0.2);
  }
  /* свойства логотипа верхней панели */
  .top-panel-logo {
    height: 100%;
    width: 20%;
    background-image: url("/assets/img/logo3.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    transform: scale(0.7);
    transition: 0.3s ease-in-out;
  }
  .top-panel-logo:hover {
    cursor: pointer;
  }
  /* свойства контейнера для кнопок */
  .top-panel-buttons {
    height: 100%;
    width: 55%;
    float: left;
    display: flex;
    justify-content: space-evenly;
  }
  /* свойства обычной кнопки */
  .top-panel-button {
    width: 22%;
    margin: 10px 0px 10px 0px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .top-panel-button img {
    height: 100%;
    width: 25%;
    object-fit: contain;
    transform: scale(0.9);
  }
  .top-panel-button-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .top-panel-button-text p {
    text-align: center;
  }
  .top-panel-button:hover {
    cursor: pointer;
    border-radius: 3px;
    background-color: rgba(86, 190, 26, 0.2);
  }
  /* свойства привлекающей кнопки */
  .top-panel-button-akcent {
    background-color: rgba(195, 7, 7, 0.2);
    border-radius: 3px;
  }
  .top-panel-button-akcent:hover {
    background-color: rgba(195, 7, 7, 0.5);
  }
  /* блок контактов на верхней панели */
  .top-panel-contacts {
    height: 100%;
    width: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: scale(0.8);
  }
  /* свойства строки с номером телефона */
  .top-panel-contacts-phone {
    font-size: 3rem;
    font-weight: bold;
    color: var(--main-accent-color);
    text-align: right;
    margin-right: 5px;
  }
  /* свойства строки с названием области */
  .top-panel-contacts-country {
    font-size: 1.5rem;
    color: var(--main-accent-color);
    text-align: right;
    margin-right: 5px;
  }
}