{{ define "mokrij-fasad" }}
{{ template "header" }}
{{ template "topPanel" }}
<link rel="stylesheet" href="/assets/css/mokrij-fasad/all.css" />
<script src="/assets/js/mokrij-fasad.js"></script>
{{ template "control-panel" }}
{{ template "firstPromoBlock" . }}
{{ template "vid-pokritij" }}
{{ template "palitra" }}
{{ template "plus-minus" }}
{{ template "schema" }}
{{ template "otkos" }}
{{ template "portfolio" }}
{{ template "video" }}
{{ template "lastPromo" }}
{{ template "footer" }}
{{ end }}