{{ define "otkos" }}
<div id="otkos" class="otkos-root">
    <p>
        Важным этапом при выполнении фасадных работ является <b>устройство откосов</b>. В некоторых случаях требуется их утепление. Для утепления откосов лучше всего подходит полистирол. Работы по устройству откосов содержат те же этапы, что и работы по устройству фасада: утепление, армирование, нанесение декоративной штукатурки.
    </p>
    <div class="otkos-img-wrapper">
        <img src="/assets/img/mokrij-fasad/otkos1.jpg">
        <img src="/assets/img/mokrij-fasad/otkos2.jpg">
        <img src="/assets/img/mokrij-fasad/otkos3.jpg">
    </div>
</div>
{{ end }}