{{ define "plus-minus" }}
<div id="plus-minus" class="plus-minus-root">
    <!-- <div class="plus-minus-title">
        <p>
            <b>Преимущества и недостатки:</b>
        </p>
    </div> -->
    <div class="plus-minus-row">
        <ul class="plus-minus-green">
            <li>
                <b>Долговечность</b> – при соблюдении технологии, срок эксплуатации мокрого фасада варьируется от 10 до 50 лет (зависит от качества материала).
            </li>
            <li>
                <b>Внешний вид</b> – оштукатуренный фасад выглядит эстетично и гармонично вписывается практически в любой архитектурный стиль, а широкая цветовая гамма и возможность комбинировать цвета и фактуры, а также невероятное множество декоративных элементов воплотят в жизнь даже самые смелые дизайнерские решения. 
            </li>
            <li>
                <b>Экологичность</b> – декоративные штукатурки изготавливаются из натуральных компонентов и не несут опасности для жизни и здоровья человека. Пригодны для использования как снаружи, так и внутри помещений.
            </li>
            <li>
                <b>Негорючесть</b> – декоративные штукатурки не плавятся, не горят, не тлеют. 
            </li>
        </ul>
        <ul class="plus-minus-red">
            <li>
                <b>Трудоемкость</b> – правильно и качественно выполнить подготовку основания и произвести работу по нанесению декоративной штукатурки сможет только квалифицированная бригада мастеров.
            </li>
            <li>
                <b>Цена</b> – несмотря на то, что декоративная штукатурка не самый дорогой материал, цена за ее нанесение может увеличиться в несколько раз из-за сложных архитектурных и дизайнерских идей.
            </li>
            <li>
                <b>Сезонность</b> – устройство мокрого фасада производят только в теплое время года и при сухой погоде (температура воздуха должна быть выше +5).
            </li>
            <li>
                <b>Ремонтопригодность</b> – хотя, декоративная штукатурка считается ремонтопригодной, восстановление первоначального вида фасада потребует вложения немалых ресурсов (сложность ремонта зависит от первоначального качества материала и состояния фасада на момент выполнения ремонтных работ).
            </li>
        </ul>
    </div>
</div>
{{ end }}