{{ define "prices" }}
<div id="prices" class="Prices__root-slide">
    <div class="Prices__row">
        <div class="Prices__left-column">
            <div class="Prices__image-block">
                <img src="https://centrfasadov.ru/assets/img/mokrij-fasad/prices-osnovanie.png">
            </div>
            <div class="Prices__image-block">
                <img src="https://centrfasadov.ru/assets/img/mokrij-fasad/prices-decor.png">
            </div>
        </div>
        <div class="Prices__right-column">
            <div class="Prices__image-block">
                <img src="https://centrfasadov.ru/assets/img/mokrij-fasad/prices-materials-osnovanie-1.png">
            </div>
            <div class="Prices__image-block">
                <img src="https://centrfasadov.ru/assets/img/mokrij-fasad/prices-materials-osnovanie-2.png">
            </div>
            <div class="Prices__image-block">
                <img src="https://centrfasadov.ru/assets/img/mokrij-fasad/prices-materials-decor.png">
            </div>
        </div>
    </div>
</div>
{{ end }}