{{ define "vid-pokritij" }}
<div id="vid" class="vid-root">
    <div class="vid-root-col">
        <div class="vid-short-note">
            <!-- <center><b>Мокрый фасад</b></center> -->
            <ul>
                <li>
                    Материал прочен, надежен и экологически безопасен, так как состоит только из натуральных компонентов.
                </li>
                <li>
                    Минеральный наполнитель делает состав легким, что предотвращает излишнюю нагрузку на конструкцию здания.
                </li>
                <li>
                    Устойчив к морозам, прямому солнечному свету, ливням и граду, плесени и грибку.
                </li>
                <li>
                    Имеет огнеупорные свойства и под воздействием солнца не теряет изначальной яркости цвета.
                </li>
                <li>
                    Прост в уходе. Оштукатуренная поверхность моется водой с небольшим количеством моющего средства. Чистится жесткой губкой или пылесосом.
                </li>
            </ul>
        </div>
        <!-- фактурная краска -->
        <div class="vid-factura-root">
            <div class="vid-factura-text">
                <b>Фактурные краски</b> отличаются от других декоративных покрытий способом нанесения и создаваемой фактурой. Фактурная краска менее прочна, по сравнению с короедом, зато предоставляет больше вариантов оформления. В конечном итоге, внешний вид зависит от того, каким инструментом будет создаваться фактура – структурным валиком, либо кельмой.
            </div>
            <div class="vid-factura-img">
                <img src="/assets/img/mokrij-fasad/fakturnaja-factura-1.jpg">
            </div>
        </div>
    </div>
    
    <div class="vid-root-col">
        <!-- короед -->
        <div class="vid-factura-root">
            <div class="vid-factura-text">
                <b>Штукатурка "Короед"</b> - позволяет создать фактуры: «дождик», «барашек», «крест-накрест». <b>Штукатурка «шуба»</b> - отличается однородной зернистой фактурой, напоминающей наждачную бумагу. Оба состава представляют собой акриловую или силиконовую массу, в которую добавляют минеральную крошку.  <b>От количества добавленной крошки и фракции зависит название – короед, или шуба.</b>
            </div>
            <div class="vid-factura-img">
                <img src="/assets/img/mokrij-fasad/koroed-factura-1.jpg">
            </div>
        </div>
        <!-- крошка -->
        <div class="vid-factura-root">
            <div class="vid-factura-text">
                <b>Мозаичная декоративная штукатурка</b> устойчива к воздействию ультрафиолета, влаги, перепаду температур. Высокопрочная,  долговечная и экологичная. Идеальный вариант для отделки цоколей.
            </div>
            <div class="vid-factura-img">
                <img src="/assets/img/mokrij-fasad/mozayka-factura-1.jpg">
            </div>
        </div>
    </div>
</div>
{{ end }}