.kachestva-root {
    /* left: 0; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/assets/img/decor/3-1.jpg");
    background-size: cover;
}

.kachestva-row {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 3rem;
}

.kachestva-row p {
    width: 48%;
    /* height: 100%; */
    font-size: 2rem;
    padding: 3rem;
    background-color: rgba(255,255,255,0.8);
    border-radius: 3px;
    box-shadow: 0 0 1px black inset;
}
