@import "/assets/css/hauberg/summary.css";
@import "/assets/css/hauberg/palitra.css";
@import "/assets/css/hauberg/kachestva.css";
@import "/assets/css/hauberg/schema.css";
@import "/assets/css/hauberg/otkos.css";
@import "/assets/css/hauberg/portfolio.css";
@import "/assets/css/hauberg/video.css";
@import "/assets/css/hauberg/promo.css";

.slide-root {
    height: calc(100vh - 120px);
    width: 100%;
    position: absolute;
    transform: scale(0.9);
    transition: 0.5s ease-in-out;
    left: -100vw;
}

