.summary-root {
    /* left: 0px; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-root img {
    /* width: 48%; */
    /* overflow: hidden; */
    height: 100%;
    /* box-shadow: 0 0 2px black; */
    object-fit: contain;
}