{{ define "header" }} <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#010C07" />
    <title>Центр Фасадов</title>

    <link
      rel="icon"
      href="/assets/img/favicon.png"
      sizes="16x16"
      type="image/png"
    />
    <link
      rel="icon"
      href="/assets/img/favicon.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/assets/img/favicon.png"
      sizes="48x48"
      type="image/png"
    />
    <link
      rel="icon"
      href="/assets/img/favicon.png"
      sizes="62x62"
      type="image/png"
    />
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/base.css" />

    
  </head>

  <body>
    {{ end }}
    <!-- </body>
</html> -->

