{{ define "header" }}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#010C07" />
  <title>Центр Фасадов</title>

  <link rel="icon" href="/assets/img/favicon.png" sizes="16x16" type="image/png" />
  <link rel="icon" href="/assets/img/favicon.png" sizes="32x32" type="image/png" />
  <link rel="icon" href="/assets/img/favicon.png" sizes="48x48" type="image/png" />
  <link rel="icon" href="/assets/img/favicon.png" sizes="62x62" type="image/png" />
  <link rel="stylesheet" href="/assets/css/reset.css" />
  <link rel="stylesheet" href="/assets/css/base.css" />

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
      m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(53009950, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/53009950" style="position:absolute; left:-9999px;" alt="" /></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
  <meta name="yandex-verification" content="f115873378779a0e" />
</head>

<body>
  <script src="https://yastatic.net/browser-updater/v1/script.js" charset="utf-8"></script>
  <script>var yaBrowserUpdater = new ya.browserUpdater.init({ "lang": "ru", "browsers": { "yabrowser": "16.12", "chrome": "70", "ie": "12", "opera": "49", "safari": "9.1", "fx": "57", "iron": "35", "flock": "Infinity", "palemoon": "25", "camino": "Infinity", "maxthon": "4.5", "seamonkey": "2.3" }, "theme": "red" });</script>
  {{ end }}