{{ define "how-we-work" }}

<div id="how-we-work" class="HowWeWork__Root">
    <div class="HowWeWork__slide-root">
        <div class="HowWeWork__card-root">
            <div class="HowWeWork__card-title HowWeWork__color-blue">
                <h1>
                    Шаг 1
                </h1>
            </div>
            <div class="HowWeWork__card-body HowWeWork__color-blue">
                <div class="HowWeWork__card-image">
                    <img src="/assets/img/icon-call.png">
                </div>
                <div class="HowWeWork__card-text">
                    <h2>
                        Звоните или закажите звонок
                    </h2>
                </div>
            </div>
        </div>
        <div class="HowWeWork__card-root HowWeWork__card-transform">
            <div class="HowWeWork__card-title HowWeWork__color-orange">
                <h1>
                    Шаг 2
                </h1>
            </div>
            <div class="HowWeWork__card-body HowWeWork__color-orange">
                <div class="HowWeWork__card-image">
                    <img src="/assets/img/icon-rulet.png">
                </div>
                <div class="HowWeWork__card-text">
                    <h2>
                        Получите бесплатный замер
                    </h2>
                </div>
            </div>
        </div>
        <div class="HowWeWork__card-root HowWeWork__card-transform">
            <div class="HowWeWork__card-title HowWeWork__color-red">
                <h1>
                    Шаг 3
                </h1>
            </div>
            <div class="HowWeWork__card-body HowWeWork__color-red">
                <div class="HowWeWork__card-image">
                    <img src="/assets/img/icon-calc.png">
                </div>
                <div class="HowWeWork__card-text">
                    <h2>
                        Получите бесплатную смету
                    </h2>
                </div>
            </div>
        </div>
        <div class="HowWeWork__card-root HowWeWork__card-transform">
            <div class="HowWeWork__card-title HowWeWork__color-yellow">
                <h1>
                    Шаг 4
                </h1>
            </div>
            <div class="HowWeWork__card-body HowWeWork__color-yellow">
                <div class="HowWeWork__card-image">
                    <img src="/assets/img/icon-documents.png">
                </div>
                <div class="HowWeWork__card-text">
                    <h2>
                        Согласуем все моменты и заключаем договор
                    </h2>
                </div>
            </div>
        </div>
        <div class="HowWeWork__card-root HowWeWork__card-transform">
            <div class="HowWeWork__card-title HowWeWork__color-violet">
                <h1>
                    Шаг 5
                </h1>
            </div>
            <div class="HowWeWork__card-body HowWeWork__color-violet">
                <div class="HowWeWork__card-image">
                    <img src="/assets/img/icon-cargo.png">
                </div>
                <div class="HowWeWork__card-text">
                    <h2>
                        Завозим материалы и выполняем работы
                    </h2>
                </div>
            </div>
        </div>
        <div class="HowWeWork__card-root">
            <div class="HowWeWork__card-title HowWeWork__color-green">
                <h1>
                    Шаг 6
                </h1>
            </div>
            <div class="HowWeWork__card-body HowWeWork__color-green">
                <div class="HowWeWork__card-image">
                    <img src="/assets/img/incon-key.png">
                </div>
                <div class="HowWeWork__card-text">
                    <h2>
                        Принимаете обновленный дом
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}