{{ define "index" }}
{{ template "header" }}
{{ template "topPanel" }}
<div class="main-content-container">
    <div class="main-content-promo">
        <p class="title-text">
            <!-- Квалифицированая помощь в устройстве фасада. Качественно. Гарантия. -->
            Мы готовы сделать ваш дом красивым прямо сейчас! Звоните!
        </p>
    </div>
    <div class="main-content-row">
        <div class="main-content-block" onclick="location.href='/мокрый-фасад';">
            <img src="/assets/img/main-content/aqua-fasad.jpg" />
            <p class="title-text">Мокрый фасад</p>
            <div class="main-content-price">
                <p>от <b><span id="mokrijPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
        <div class="main-content-block" onclick="location.href='/технониколь-хауберг';">
            <img src="/assets/img/main-content/hauberg.jpg" />
            <p class="title-text">Фасадная плитка "Технониколь"</p>
            <div class="main-content-price">
                <p>от <b><span id="haubergPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
        <div class="main-content-block" onclick="location.href='/виниловый-сайдинг';">
            <img src="/assets/img/main-content/vinil.jpg" />
            <p class="title-text">Виниловый сайдинг</p>
            <div class="main-content-price">
                <p>от <b><span id="vinilPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
        <div class="main-content-block" onclick="location.href='/металлосайдинг';">
            <img src="/assets/img/main-content/metal-side.jpg" />
            <p class="title-text">Металлический сайдинг</p>
            <div class="main-content-price">
                <p>от <b><span id="metalPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
    </div>
    <div class="main-content-row">
        <div class="main-content-block" onclick="location.href='/фиброцементный-сайдинг';">
            <img src="/assets/img/main-content/fibro.jpg" />
            <p class="title-text">Фиброцементный сайдинг</p>
            <div class="main-content-price">
                <p>от <b><span id="fibraPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
        <div class="main-content-block" onclick="location.href='/термопанели';">
            <img src="/assets/img/main-content/termo-panel.jpg" />
            <p class="title-text">Термопанели</p>
            <div class="main-content-price">
                <p>от <b><span id="termoPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
        <div class="main-content-block" onclick="location.href='/клинкерная-плитка';">
            <img src="/assets/img/main-content/klinker.jpg" />
            <p class="title-text">Клинкерная плитка</p>
            <div class="main-content-price">
                <p>от <b><span id="klinkerPrice">650</span></b> руб. за кв.м.</p>
            </div>
        </div>
        <div class="main-content-block" onclick="location.href='/декоративные-элементы';">
            <img src="/assets/img/main-content/decor.JPG" />
            <p class="title-text">Декоративные элементы</p>
            <div class="main-content-price">
                <p>от <b><span id="decorPrice">150</span></b> руб. за м.п.</p>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/calculateMainContentPrice.js"></script>
{{ template "footer" }}
{{ end }}