{{ define "index" }}
{{ template "header" }}
{{ template "topPanel" }}
<div class="main-content-container">
    <div class="main-content-row">
        <div class="main-content-block" onclick="location.href='/мокрый-фасад';">
            <img src="/assets/img/main-content/aqua-fasad.jpg" />
            <p>Мокрый фасад</p>
        </div>
        <div class="main-content-block">
            <img src="/assets/img/main-content/hauberg.jpg" />
            <p>Фасадная плитка "Технониколь"</p>
        </div>
        <div class="main-content-block" onclick="location.href='/виниловый-сайдинг';">
            <img src="/assets/img/main-content/vinil.jpg" />
            <p>Виниловый сайдинг</p>
        </div>
        <div class="main-content-block" onclick="location.href='/металлосайдинг';">
            <img src="/assets/img/main-content/metal-side.jpg" />
            <p>Металлический сайдинг</p>
        </div>
    </div>
    <div class="main-content-row">
        <div class="main-content-block">
            <img src="/assets/img/main-content/fibro.jpg" />
            <p>Фиброцементный сайдинг</p>
        </div>
        <div class="main-content-block">
            <img src="/assets/img/main-content/termo-panel.jpg" />
            <p>Термопанели</p>
        </div>
        <div class="main-content-block">
            <img src="/assets/img/main-content/klinker.jpg" />
            <p>Клинкерная плитка</p>
        </div>
        <div class="main-content-block">
            <img src="/assets/img/main-content/decor.JPG" />
            <p>Декоративные элементы</p>
        </div>
    </div>
</div>
{{ template "footer" }}
{{ end }}