{{ define "lastPromo" }}

<div id="last-promo" class="LastPromoBlock__Root">
    <div class="LastPromoBlock__Message">
        <h1>
            Мы готовы сделать ваш дом красивым прямо сейчас!
        </h1>
        <h1>
            Звоните!<br>
            <hr>
            +7 (4722) 41-55-33
        </h1>
    </div>
    <div class="LastPromoBlock__Buttons">
        <button onclick="showAbout();">
            Позвонить
        </button>
        <button onclick="showCall();">
            Перезвоните мне
        </button>
        <button onclick="showCalc();">
            Предварительный расчет
        </button>
    </div>
</div>

{{ end }}