{{ define "klinker" }}
{{ template "header" }}
{{ template "topPanel" }}
<link rel="stylesheet" href="/assets/css/klinker/all.css" />
<script src="/assets/js/klinker.js"></script>
{{ template "control-panel" }}
{{ template "firstPromoBlock" . }}
{{ template "summary"}}
{{ template "palitra" }}
{{ template "kachestva" }}
{{ template "schema" }}
{{ template "otkos" }}
{{ template "how-we-work" }}
{{ template "portfolio" }}
{{ template "video" . }}
{{ template "promo" }}
{{ template "creditPromo" }}
{{ template "lastPromo" }}
{{ template "footer" }}
{{ end }}