{{ define "kachestva" }}
<div id="kachestva" class="slide-root kachestva-root">
    <div class="kachestva-row">
        <ul>
            <li>
                <b>Трудоемкость</b> – Трудоемкость – монтаж клинкерной плитки довольно сложен и требует специальные умения и навыки.
            </li>
            <li>
                <b>Долговечность</b> – при соблюдении технологии, срок эксплуатации клинкера варьируется от 25 до 100 и более лет.
            </li>
            <li>
                <b>Внешний вид</b> – фасад выглядит эстетично и гармонично вписывается практически в любой архитектурный стиль.
            </li>
            <li>
                <b>Цена</b> – достаточно высока, но с лихвой компенсируется его потребительскими и эстетическими качествами.
            </li>
        </ul>
        <ul>
            <li>
                <b>Ремонтопригодность</b> – заменить поврежденную плитку не составит большого труда.
            </li>
            <li>
                <b>Сезонность</b> – устройство фасада из клинкерной плитки лучше производить в теплое время года, тем не менее, существуют морозостойкие монтажные клея, которые позволяют работать при температуре ниже +5.
            </li>
            <li>
                <b>Экологичность</b> – материал экологически безопасен, не выделяет вредных веществ.
            </li>
            <li>
                <b>Негорючесть</b> – клинкерная плитка не горит.
            </li>
        </ul>
    </div>
</div>
{{ end }}