{{ define "otkos" }}
<div id="otkos" class="slide-root otkos-root">
    <img src="/assets/img/klinker/5-1.jpg">
    <!-- <img src="/assets/img/fibra/5-2.jpg"> -->
    <div class="otkos-text-wrapper">
    <p>
        Устройство откосов, при монтаже клинкерной плитки, бывает 3х типов:
    </p>
    <ol>
        <li>
            Откос выполняется из стандартных плиток, зарезанных под 45 градусов и состыкованных на углу.
        </li>
        <li>
            Откос выполняется из специальной угловой плитки.
        </li>
        <li>
            Плитка стыкуется внахлест под 90 градусов.
        </li>
    </ol>
</div>
</div>
{{ end }}